<section class="gallery">
    <div class="container gallery-container">
        <h2 class="visually-hidden"> Gallery</h2>
        <picture class="gallery-image">
            <source class="desktop-gallery"
                srcset="./images/desktop/gallery/desk-about-gallery.png 1x, ./images/desktop/gallery/desk-about-gallery@2x.png 2x"
                media="(min-width: 1280px)">
            
            <source class="tablet-gallery"
                srcset="./images/tablet/gallery/tablet-about-gallery.png 1x, ./images/tablet/gallery/tablet-about-gallery@2x.png 2x"
                media="(min-width: 768px)">

            <source class="" srcset="./images/mobile/gallery/m-about-gallery.png 1x, ./images/mobile/gallery/m-about-gallery@2x.png 2x" 
                media="(min-width: 280px)">
            <img class="desktop-gallery" src="./images/desktop/gallery/desk-about-gallery.png" alt="Gallery">
        </picture>
    </div>
</section>
